/* Estilos para todo el proyecto */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

header {

    background-color: #fdab13;
    padding: 10px;
    border: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
font-weight: bolder;
text-decoration: none;
color: rgb(0, 0, 0);
font-size: 2em;

}

header button{
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: none;
    border: none;
    background: transparent;
    color: #007bff;
}

header button:hover{
    background-color: #fdab13;
    color: white;

}
.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}




p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #007bff;
}

.img {
    display:flex;
    width: 100%;
    justify-content: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #007bff;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    padding: 8px;
    margin:4px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    padding: 8px;
    margin:4px;
    background-color: #fdab13;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
}

a:hover {
    background-color: #cd7b00;
}

body.darkmode{
background-color: rgb(26, 26, 50);
color: white;
transition: cubic-bezier(0.165, 0.84, 0.44, 1);

}

@media (prefers-color-scheme: light) {
    body {
      --color: white;
      --colorFont: black;
      --content: '🌞 light version';
    }
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      --color: black;
      --colorFont: white;
      --content: '🌑 dark version';
    }
  }