<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Producto</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body class="darkmode">
    <header>
        <div>
            <h3>Pythonisa</h3>
        </div>
        <div>
            <button id="bdark">Modo oscuro</button>
        </div>
    </header>
    <h1>Modificar Productos del Inventario</h1>
    <div class="img"><img src="img/logo_codo.png" alt="codoacodo" width="100px"></div>
    <h3>Codo a Codo 2023</h3>
    <div id="app">
        <form @submit.prevent="obtenerProducto">
            <label for="codigo">Código:</label>
            <input type="text" v-model="codigo" required><br>
            <button type="submit">Modificar Producto</button> <a href="index.html">Menu principal</a>
        </form>

        <div v-if="mostrarDatosProducto">
            <h2>Datos del Producto</h2>
            <form @submit.prevent="guardarCambios">
                <label for="descripcionModificar">Descripción:</label>
                <input type="text" id="descripcionModificar" v-model="descripcion" required><br>

                <label for="cantidadModificar">Cantidad:</label>
                <input type="number" id="cantidadModificar" v-model="cantidad" required><br>

                <label for="precioModificar">Precio:</label>
                <input type="number" step="0.01" id="precioModificar" v-model="precio" required><br>

                <button type="submit">Guardar Cambios</button>
                <a href="modificaciones.html">Cancelar</a>
            </form>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const URL = "http://127.0.0.1:5000/"
        //const URL = "https://MISITIO.pythonanywhere.com/"

        const app = Vue.createApp({
            data() {
                return {
                    codigo: '',
                    mostrarDatosProducto: false,
                    descripcion: '',
                    cantidad: '',
                    precio: ''
                }
            },
            methods: {
                obtenerProducto() {
                    fetch(URL + 'productos/' + this.codigo)
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            } else {
                                throw new Error('Error al obtener los datos del producto.')
                            }
                        })
                        .then(data => {
                            this.descripcion = data.descripcion
                            this.cantidad = data.cantidad
                            this.precio = data.precio
                            this.mostrarDatosProducto = true
                        })
                        .catch(error => {
                            alert('Error al obtener los datos del producto.')
                        })
                },
                guardarCambios() {
                    const producto = {
                        codigo: this.codigo,
                        descripcion: this.descripcion,
                        cantidad: this.cantidad,
                        precio: this.precio
                    }

                    fetch(URL + 'productos/' + this.codigo, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(producto)
                    })
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            } else {
                                throw new Error('Error al guardar los cambios del producto.')
                            }
                        })
                        .then(data => {
                            alert('Cambios guardados correctamente.')
                            location.reload()
                        })
                        .catch(error => {
                            alert('Error al guardar los cambios del producto.')
                        })
                }
            }
        })

        app.mount('#app')
    </script>

<script>
    const bdark = document.querySelector('#bdark');
    const body = document.querySelector('body');

    load();

    bdark.addEventListener('click', e => {
        body.classList.toggle('darkmode');
        store(body.classList.contains('darkmode'));

    });

    function load(){
        const darkmode = localStorage.getItem('darkmode');

        if(darkmode){
            store('false');
        }
        
        else if(darkmode == 'true'){
            body.classList.add('darkmode');

        }
    }

    function store(value){
        localStorage.setItem('darkmode, value');

    }

</script>
</body>

</html>
